@charset "UTF-8";
/* created by Benimation */

ul#results > li > img {
	width: 25%;
	display: inline-block;
	
}

ul#results > li > div.productinfo {
	display: inline-block;
	width: 69%;
	
}

ul#results > li > div.productinfo > h2, ul#results > li > div.productinfo > .hoofdeffect > h3, ul#results > li > div.productinfo > .bijeffect > h4, ul#results > li > div.productinfo {
	font-weight: 300;
	display: inline-block;
	
}

ul#results > li {
	border-bottom: solid 1px #bc003b;
	background-repeat: no-repeat;
	background-position: 96% center;
	background-size: 14px auto;
	background-image: url("../img/nextred.png");
	cursor: pointer;	
}

/*ul#results > li > div.productinfo > .bijeffect, ul#results > li > div.productinfo > .hoofdeffect {
	margin-right: 22px;
	
}*/

ul#results > li > div.productinfo > .hoofdeffect {
	/*background-color: #bc003b;
	color: #fff;
	padding: 8px;*/
	margin-bottom: 7px;
	color: #bc003b;
	
}

ul#results > li > div.productinfo > .bijeffect {
	/*background-color: #404e5c;
	color: #fff;
	padding: 0 8px;*/
	margin-bottom: 15px;
	
}

ul#results .upvote, .downvote {
	display: inline-block;
	float: right;
	margin: 2px;
	
}

.upvote{
	font-size: 26px;
	font-weight: 700;
	line-height: 30px;
	
}

.downvote{
	font-size: 12px;
	font-weight: 700;
	margin-left: 8px;
	padding-top: 3px;
	margin-right: 18px;

}

.voteimg {
	height:22px;
	width: 11px;
	margin-right: 2px;	
}

h5{
	font-size: 14px;
	font-weight: 700;
	color: #404e5c;	
	padding-top: 3px;
}


h3{
	font-size: 16px;
 	width: 50%;	
}

h2{
	font-size: 22px;
	margin-top: 10px;	
}

.hoofdeffect{
	margin-top: 5px;	
}

.bijh4{
	margin-top: -5px!important;
}

.hoofdh3{
	margin-top: 5px;	
	text-transform: capitalize;
	
}

#zoekbalk{
	  width: 100%;
  text-align: center;
  background-color: #e3e3e3;
  padding: 9px 0px;
  background-image: url("../img/iconen/zoeken.png");
  background-repeat: no-repeat;
  background-position: 96% center, 4%;
  background-size: 23px auto, 32px auto;
  font-weight: 300;
  border: none;
  font-size: 14px;
  font-weight: 300;
}


#container > div.contentcontainer > input:focus{outline:none;}

#zoekknop{
   -webkit-appearance: none;
  background: none;
  height: 35px;
  width: 50px;
  border: hidden;
  float: right;
  margin-top: -35px;
  z-index: 40;
  position: relative;
}

#sorry {
	display: block;
	text-align: center;
	margin-top: 144px;
	
}