@charset "UTF-8";
/* created by Benimation */

.alert{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 15, 35, 0.9);
  display: none;
}

#loginalert{
	width: 80%;
  height: auto;
  background: #fff;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  font-weight: 300;
  margin-top: 20%;
  /*transform: translate(0, 50%);*/
  margin-bottom: 15px;
}

#loginalert > h3{
	  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #8e979e;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#inloggen{
cursor: pointer;
	 font-weight: 700;
  display: inline-block;
  float: right;
  font-size: 18px;
   padding: 10px 0 5px 0;	
}

#annuleren{
	cursor:pointer;
		font-weight:700;
	font-size: 18px;
	  display: inline-block;
 	 padding: 10px 0 5px 0;	
}

#votealert{
	width: 80%;
  height: auto;
  background: #fff;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  font-weight: 300;
  margin-top: 20%;
  /*transform: translate(0, 50%);*/
  margin-bottom: 15px;
}

#votealert > h3{
	  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #8e979e;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#voteup{
cursor: pointer;
	 font-weight: 700;
  display: inline-block;
  float: right;
  font-size: 18px;
   padding: 10px 0 5px 0;	
}

#votedown{
	cursor:pointer;
		font-weight:700;
	font-size: 18px;
	  display: inline-block;
 	 padding: 10px 0 5px 0;	
}

#productnavigatie{
	width: 100%;
	height: auto;	
}

#productnavigatie h2{
	background-image: url("../img/navbar.png");
	background-size: cover;	
	border-bottom: 2px solid #8e979e;
	color: #fff;
	text-align: center;
	height: 32px;
	font-size: 16px;
	line-height: 32px;
	position: fixed;
	width: 100%;
	max-width: 960px;
	top: 70px;
	opacity: .98;
	font-weight: 400;
	
}

#foto{
	width: 100%;
	height: 260px;
	border: hidden;
	background-image: url("../img/product/empty.png");
	/*background-size: 110%;*/
	background-size: 186%;
	background-repeat: no-repeat;
	background-position: center;
	
}

#tabs{
	width:100%;
	height: auto;
	border-top: 1px solid #8e979e;	
}

#tabmenu > li {
	display: inline-block;
	font-size: 12px;
	width: 24.25%;
	/*outline: 1px solid #808080;*/
	height: 32px;
	line-height: 32px;
	cursor: pointer;
	text-align: center;
	background-image: url("../img/iconen/empty.png");
	background-size: 32px;
	background-repeat: no-repeat;
	background-position: center 6px;
	padding-top: 32px;
	
}

#tabmenu > li:selection {
	background: none;
	
}

#tabmenu > li#effecten {
	background-image: url("../img/iconen/effecten.png");
	
}

#tabmenu > li#effecten.activetab {
	background-image: url("../img/iconen/witeffecten.png");
	
}

#tabmenu > li#beschrijving {
	background-image: url("../img/iconen/beschrijving.png");
	
}

#tabmenu > li#beschrijving.activetab {
	background-image: url("../img/iconen/witbeschrijving.png");
	
}

#tabmenu > li#gebruik {
	background-image: url("../img/iconen/gebruik.png");
	
}

#tabmenu > li#gebruik.activetab {
	background-image: url("../img/iconen/witgebruik.png");
	
}

#tabmenu > li#koop {
	background-image: url("../img/iconen/koop.png");
	
}

#tabmenu > li#koop.activetab {
	background-image: url("../img/iconen/witkoop.png");
	
}

.tab {
	display: none;
	font-size: 16px;
  line-height: 26px;
  font-weight: 300;
	
}

.activetab {
	background: #bc003b;
	color: #fff;
	
}






/* Effecten tab */
#tabs #effecten > ul > li {
	line-height: 44px;
	font-weight: 300;
	font-size: 16px;
	border-bottom: 1px solid #BC003B;
	color: #404E5C;
	padding-left: 60px;
	padding-right: 16px;
	background-repeat: no-repeat;
	background-position: 16px center;
	background-size: 32px auto;
	background-image: url("../img/iconen/empty.png");
	list-style: none;
	
}

.stem{
	color: #fff;
  	background-image: url("../img/navbar.png");
		background-size: cover;	
  	padding: 7px 10px;
  	float: right;
  	line-height: 16px;
	margin-top: 27px;
	font-size: 14px;
	border-radius: 5px;
	cursor: pointer;
}

.score{
	font-size: 30px;
  font-weight: 700;	
  color: #bc003b;
  margin-top:-13px;
  margin-bottom:10px;
}

.upvoteproduct{
	float: left;
	margin-right: 20px;
}

.downvoteproduct{
}

#tabs #effecten > ul > li.default {
	background-image: url("../img/iconen/default.png");
	
}

#tabs #effecten > ul > li.droom {
	background-image: url("../img/iconen/droomopwekkend.png");
	
}

#tabs #effecten > ul > li.geest {
	background-image: url("../img/iconen/geestverruimend.png");
	
}

#tabs #effecten > ul > li.hallu {
	background-image: url("../img/iconen/hallucinerend.png");
	
}

#tabs #effecten > ul > li.concen {
	background-image: url("../img/iconen/concentratie.png");
	
}

#tabs #effecten > ul > li.ener {
	background-image: url("../img/iconen/energie.png");
	
}

#tabs #effecten > ul > li.lust {
	background-image: url("../img/iconen/lustopwekkend.png");
	
}

#tabs #effecten > ul > li.pijn {
	background-image: url("../img/iconen/pijnverlichtend.png");
	
}

#tabs #effecten > ul > li.ontspan {
	background-image: url("../img/iconen/ontspanning.png");
	
}



#tabs #effecten > ul > li > .upvote, #tabs #effecten > ul > li > .downvote {
	padding: 0px 10px 0 18px;
	display: inline-block;
	float: right;
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 16px;
	
}

#tabs #effecten > ul > li > .upvote {
	background-image: url("../img/iconen/up.png");
	clear: both;
	
}

#tabs #effecten > ul > li > .downvote {
	background-image: url("../img/iconen/down.png");
	
}

.koopbutton {
	position: absolute;
	top: 320px;
	left: 15px;
	
}


/* Gebruik tab */
#tabs #gebruik {
	padding: 16px 32px;
	
}



/* Beschrijving tab */
#tabs #beschrijving {
	padding: 10px 20px;
	
}

#tabmenu{
	border-top: 1px solid #8e979e;
  margin-top: -20px;
  background: #fff;	
}

.warning {
	background-color: #F2DEDE;
	color: #B94A48;
	padding: 10px;
	margin: 16px 0;
	font-weight: 700;
}

/* Kopen tab */
#tabs #koop > ul > li {
	line-height: 75px;
	font-weight: 300;
	font-size: 16px;
	border-bottom: 1px solid #BC003B;
	color: #404E5C;
	padding-left: 60px;
	padding-right: 16px;
	background-repeat: no-repeat;
	background-position: 16px center;
	background-size: 32px auto;
	/*background-image: url("../img/iconen/empty.png");*/
	list-style: none;
}

#tabs #koop ul > li {
	border-bottom: solid 1px #bc003b;
	background-repeat: no-repeat;
	background-position: 96% center, 8px;
	background-size: 14px auto, 64px;
	background-image: url("../img/nextred.png"), url("../img/empty.png");
	cursor: pointer;
	padding-left: 80px;
	
}

#tabs #koop > ul > li.bedrijf.sp { 
	background-image: url("../img/nextred.png"), url("../img/sp.png");
	
}

#tabs #koop > ul > li.bedrijf.aza { 
	background-image: url("../img/nextred.png"), url("../img/aza.png");
	
}