@charset "UTF-8";
/* CSS Document */

#tutorialcontainer{
	width: 100%;
	height: 100%;
	background-image:url("../img/tutorial.png");	
	background-size: cover;
}

#kruisje{
	  position: absolute;
	  z-index:15;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  float: right;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

#tuttekst{
	width: 100%;
  color: #fff;
  height: 0;	
}

#tuttekst > h1{
	text-align: center;	
}

#tuttekst > p{
	font-size: 16px;
	line-height: 25px;
	font-weight: 300;
	padding: 0 15%;
	text-align:justify;
	
}

#tuttabs > li {
	width: 2px;
	height: 2px;
	background-color: #fff;
	border-radius: 50%;
	display: inline-block;
	padding: 8px;
	opacity: 0.5;
	transition: 100ms opacity ease-in-out;
	-webkit-transform: scale(.5);
	
}

#tuttabs{
  display: inline-block;
  position: absolute;
  width: 100%;
  left: auto;
  right: auto;
  bottom: 17px;
  text-align: center;
  }
  
  #tuttabs > li:nth-child(1){
		opacity: 1;  
  }
  
  .stemspan{
	color: #fff;
  	background-image: url("../img/navbar.png");
		background-size: cover;	
  	padding: 7px 10px;
  	line-height: 16px;
	font-size: 14px;
	border-radius: 5px;
	  margin-left: 5px;
  margin-right: 5px;

}

.regist{
	  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
}