@charset "UTF-8";
/* created by Benimation */

#deviceready {
	display: none;
	
}

.ui-page {
	height: 100%;
	
}

.ui-loader {
	display: none;
	
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	list-style: none;
	
}

html, body, #splash {
	width: 100%;
	height: 100%;
}

body{
	font-family: "lato", 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;	
	color: #404e5c;
	
}

#splash {
	background-color: #fff;
	text-align: center;
	opacity: 1;
	transition: 100ms opacity ease-in-out;
	transition: 50ms margin-right ease-in-out;
	
}

#logo {
	display: inline-block;
	width: 100%;
	
}

#logo img {
	width: 100%;
	
}

#splash:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	/*margin-right: -0.25em;*/
	
}

#splash #logo {
	vertical-align: middle;
	
}

#container {
	opacity: 0;
	transition: 100ms opacity ease-in-out, -webkit-filter 100ms ease-out, filter 100ms ease-out;
	will-change: -webkit-filter, filter;
	height: 100%;
	
}

.testimg {
	width: 100%;
	
}

#back {
	width: 29px;
	position: absolute;
	top: 27px;
	background-image: url("../img/back.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 54px;
	margin: 11px;
	cursor: pointer;
	
}

#categories > li {
	line-height: 58px;
	font-weight: 300;
	font-size: 18px;
	border-bottom: 1px solid #BC003B;
	color: #404E5C;
	padding-left: 58px;
	background-repeat: no-repeat;
	background-position: 96% center, 18px;
	background-size: 14px auto, 32px auto;
	background-image: url("../img/nextred.png"), url("../img/iconen/empty.png");
	
}

#categories > li:hover {
	cursor: pointer;
	
}

#categories > li.droom {
	background-image: url("../img/nextred.png"), url("../img/iconen/droomopwekkend.png");
	
}

#categories > li.geest {
	background-image: url("../img/nextred.png"), url("../img/iconen/geestverruimend.png");
	
}

#categories > li.hallu {
	background-image: url("../img/nextred.png"), url("../img/iconen/hallucinerend.png");
	
}

#categories > li.concen {
	background-image: url("../img/nextred.png"), url("../img/iconen/concentratie.png");
	
}

#categories > li.ener {
	background-image: url("../img/nextred.png"), url("../img/iconen/energie.png");
	
}

#categories > li.lust {
	background-image: url("../img/nextred.png"), url("../img/iconen/lustopwekkend.png");
	
}

#categories > li.pijn {
	background-image: url("../img/nextred.png"), url("../img/iconen/pijnverlichtend.png");
	
}

#categories > li.ontspan {
	background-image: url("../img/nextred.png"), url("../img/iconen/ontspanning.png");
	
}

.topmenu {
	position: fixed;
	width: 100%;
	height: 112px;
	top: 0;
  	background-image: url("../img/header.png");
	background-size: cover;
	
}

.contentcontainer{
	margin-top: 112px;	
}

.titlebanner {
	background-image: url("../img/navbar.png");
		background-size: cover;	
	border-bottom: 2px solid #8e979e;
	color: #fff;
	text-align: center;
	height: 32px;
	font-size: 16px;
	line-height: 32px;
	  position: fixed;
  width: 100%;
    top: 80px;
	
}

#logoheader{
	background-image: url("../img/logotop.png");
	
	background-size: auto 50px;
	background-repeat: no-repeat;
	background-position: center;
	  width: 30%;
  height: 85%;
	margin-left: auto;
	margin-right: auto;
}

#info{
	width: 29px;
	position: absolute;
	top: 24px;
	background-image: url("../img/menu.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 63px;
	right: 0px;
	margin: 11px;
	cursor: pointer;
}

#menucontainer {
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	display: none;
	opacity: 0;
	transition: 100ms opacity ease-in-out, 100ms display ease-in-out;
	
}

#menu {
	font-size: 18px;
	color: #fff;
	font-weight: 300;
	line-height: 48px;
	background: linear-gradient(#0a2d5d, #344b6a);
	transition: 500ms left ease-in-out;
	height: 100%;
	left: 100%;
	position: absolute;
	width: 80%;
	
}

#menu li {
	padding-left: 32px;
	
}

#menu.open {
	left: 20%;
	
}

#menulogo {
	background-image: url("../img/logotop.png");
	background-size: auto 50px;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 60px;
	text-align: center;
	display: inline-block;
	margin-top: 24px;
	
}

#feedback {
	display: none;
	
}